@using TravelTripProje.Models.Classes;
@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<body>
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot">Plan the Easy Trip</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/glass.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Resturantlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/flight.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Uçuşlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/group.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Yapılacaklar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/key.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Araba Kiralama</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">
                        <div class="slider" style="width:530px; height: 375px;">
                            <ul class="rslides" id="slider1">
                                @foreach (var item in Model.OrderBy(x => x.Id).Take(4).ToList())
                                {
                                    <li><img src="@item.BlogImage" alt=""></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Tatil Seyahat Bloguma Hoşgeldiniz...</h3>
                    <p>Bu projeyi ASP.Net Core 6.0'da MVC templati kullanılarak tasarlanmıştır. Amaç hem MVC mimarisi üzerinden bir Web Tasarımının nasıl yapılması gerektiğini hem de bu mimarinin Veri Tabanı ile ilişkisini anlamaktır. </p>
                </div>

                <!--Partial View-->

                <div id="partialName">
                    <partial name="Partial1" />
                </div>


                <div class="grids">
                    <div class="box1">

                        <!--Partial View-->

                        <div id="partialName">
                            <partial name="Partial3" />
                        </div>

                        <!--Partial View-->

                        <div id="partialName">
                            <partial name="Partial4" />
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


